_*/
.git/
.vscode/
.idea/
vendor/
bin/
Gopkg.lock
go.sum

Makefile
build/Dockerfile
docker-compose.yaml
.gitignore
.dockerignore
**/*.sh
**/*.md
**/*.env
**/*.out
**/*.exe
**/*.dll
**/*.so
**/*.dylib
**/*.log
**/*.tmp
**/*.bak
**/*.swp
**/*.swo